html {
	font-family: Arial, sans-serif;
	font-size: 12px;
}
body {
	background-color: white;
	padding:25px;
}
#title {
	display:inline-block;
	font-size: 38px;
	font-weight: bold;
	text-align: left;
	left:0;
	width:48%;
}
.subtext {
	font-size: 75%;
}
#subtitle {
	font-size: 16px;
	font-style: italic;
	text-align: center;
}
#main_container {
	position:absolute;
	top:0px;
	left:8%;
	right:8%;
	width: 1260px;
	padding:10px;
}
.bar, .dot {
	mix-blend-mode: multiply;
}
h1 {
	margin-top:0px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
.split {
	display:inline-block;
	left:0;
	width:48%;
}
.right {
	display:inline-block;
	width:40%;
}
h2 {
	margin-top: 0px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
}
.hidden {
	display: none !important;
}
.viewwrap {
	position:relative;
	top:-20px;
	display:inline-block;
	left:0;
	width:48%;
}
#viewbar {
	position:relative;
	background-color: white;
	align-content: center;
	justify-content: center;
	text-align: center;
	width:100%;
	display: flex;
}
.axis--y path {
	display: none;
}
.scatterplot {
	width:580px;
	height:350px;
}
.bargraph {
	width:580px;
	height:350px;
}
.btn {
	display:inline-block;
	border-radius:5px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	margin-top: 15px;
	width: 35px;
	height: 25px;
	background-color: white;
	text-align: center;
}
.btn_text {
	display:inline-block;
	vertical-align: middle;
	line-height:28px 
}
.text_holder{
	position:relative;
	width:225px;

}
#partition_left {
	float: right;
	right:0;
}
#partition_right {
	float:left;
	left:0;
}
.btn:hover, .btn:focus {
	cursor: pointer;
	background-color: lightblue;
}

.toolTip {
	position: absolute;
	display: none;
	min-width: 80px;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #6F257F;
	padding: 14px;
	text-align: center;
	z-index: 100;
}
.axis path,
.axis line {
  	fill: none;
  	stroke: silver;
  	stroke-width: 1px;
  	shape-rendering: crispEdges;
}
.grid line {
	stroke: lightgrey;
  	stroke-opacity: 0.7;
  	shape-rendering: crispEdges;
}

.grid path {
  	stroke-width: 0;
}
.axis text {
  	font: 10px sans-serif;
}
